<!-- <div class="slideshow">
  <div *ngFor="let artwork of artworksData; let i = index" [class.active]="i === currentIndex">
    <img [src]="artworksData[currentIndex].getImagePath()" alt="Artwork Image" width="300" height="auto"/>
    <h2>{{ artworksData[currentIndex].description }}</h2>
    <p><strong>Time Spent:</strong> {{ artworksData[currentIndex].timeSpent }}</p>
    <p><strong>Artwork Type:</strong> {{ artworksData[currentIndex].artworkType }}</p>
  </div>
</div>

<button (click)="showPrev()">Previous</button>
<button (click)="showNext()">Next</button> -->


<!-- Works for one image -->
<!-- <div>
  <img [src]="artworksData[currentIndex].getImagePath()" alt="Artwork Image" width="300" height="auto"/>
  <h2>{{ artworksData[currentIndex].description }}</h2>
  <p>Time Spent: {{ artworksData[currentIndex].timeSpent }}</p>
  <p>Artwork Type: {{ artworksData[currentIndex].artworkType }}</p>
</div> -->


<!-- Works -->
<!-- Artworks with Slide-show -->

<!-- <div class="slideshow">
  <button class="arrow left" (click)="showPrev()">❮</button>
  <div *ngFor="let artwork of artworksData; let i = index" [class.active]="i === currentIndex">
    <div class="img-container">
      <img [src]="artworksData[currentIndex].getImagePath()" alt="Artwork Image" class="img-art" (click)="openSingleArtwork(artwork.id)">
    </div>
      <div class="text-over-img">
      <p style="font-size: 10pt; margin-left: 2px;">{{ artworksData[currentIndex].artworkType.toUpperCase() }}</p>
      <h2>{{ artworksData[currentIndex].description }}</h2>
      <p style="margin-left: 2px;"><strong>Time Spent:</strong> {{ artworksData[currentIndex].timeSpent }}</p>
    </div>
  </div>
  <button class="arrow right" (click)="showNext()">❯</button>
</div> -->



<div class="slideshow">
  <button class="arrow left" (click)="showPrev()">❮</button>
  <div *ngFor="let artwork of artworksData; let i = index" [class.active]="i === currentIndex">
    <div class="img-container">
      <!-- <img [src]="artworksData[currentIndex].getImagePath()" alt="Artwork Image" class="img-art" -->
      <img [src]="artworksData[currentIndex].getImagePath()" alt="Artwork Image" class="img-art" (click)="openSingleArtwork(artwork.id)">
    </div>
      <div class="text-over-img">
      <p style="font-size: 10pt; margin-left: 2px;">{{ artworksData[currentIndex].artworkType.toUpperCase() }}</p>
      <h2>{{ artworksData[currentIndex].description }}</h2>
      <p style="margin-left: 2px;"><strong>Time Spent:</strong> {{ artworksData[currentIndex].timeSpent }}</p>
    </div>
  </div>
  <button class="arrow right" (click)="showNext()">❯</button>
</div>


