<!-- <p>contact-us works!</p> -->

<!-- <div class="footer">
    <img src="/assets/images/Zhy-logo-black.png" class="logo" routerLink="">
    <hr style="margin-left: 50px; display: inline;">

    <div class="content-container" style="display: inline;">
        <h4>REACH & FOLLOW</h4>

    </div>

        
    <div class="content-container">
        <a href="https://www.instagram.com/zainab.hy/"><img src="/assets/images/insta-icon.png" class="insta"></a>
        <a href="mailto:zhalyousif@gmail.com"><img src="/assets/images/email-icon.png" class="email"></a>
    </div>


</div> -->

<div class="footer">
    <div class="container">
        <div>
        <h4>FOLLOW & REACH</h4>
        <!-- <hr> -->
        <a href="https://www.instagram.com/zainab.hy/" target="_blank" rel="noopener noreferrer">
            <img src="/assets/images/insta-icon.png" alt="Instagram" class="icon">
        </a>
        <a href="mailto:zhalyousif@gmail.com">
            <img src="/assets/images/email-icon.png" alt="Email" class="icon">
        </a>
        </div>
        <img src="/assets/images/Zhy-logo-black.png" class="logo" routerLink="">
    </div>
    <hr>
    <p>Copy right &copy 2023 | By Zainab AlYousif</p>
  </div>
  
  