<!-- <app-header></app-header> -->


<!-- <div class="wel-page"> -->
    <!-- <div class="what-on">
        <div class="login-signup"><app-login></app-login></div>
        
    </div> -->
<!-- </div> -->


<!-- app.component.html -->

<!-- <app-header></app-header> -->

<!-- app.component.html -->

<!-- <div class="page-container">
    <div class="content-container">
    </div>
    <div class="content-container" style="color: whitesmoke;">
      <div class="about-us">
        <h1 style="font-size: 22pt;">WHAT'S ON</h1>
        <hr>
        <br>
        <h2>Embark on a journey with the Zhy Museum</h2>
        <p>
          Dive into a world of artistic wonders! Our gallery features a mesmerizing blend of<br>
                charcoal and pencil masterpieces, igniting your passion for creativity. Explore the<br>
                 extraordinary, where every stroke tells a captivating story
        </p>
      </div>
      <div class="login-signup">
        <app-login></app-login>
      </div>
    </div>
    
  </div> -->

  <app-login></app-login>


<!-- <div class="art-list">
  <app-artwork-list></app-artwork-list>
</div> -->
