<!-- <app-header></app-header> -->


<!-- <div class="wel-page"> -->
    <!-- <div class="what-on">
        <div class="login-signup"><app-login></app-login></div>
        
    </div> -->
<!-- </div> -->


<!-- app.component.html -->

<!-- <app-header></app-header> -->

<!-- app.component.html -->

<div class="page-container">
    <div class="content-container">
        <!-- <h2>JOIN US</h2> -->
    </div>
    <div class="content-container" style="color: whitesmoke;">
      <div class="about-us">
        <h1 >WHAT'S ON</h1>
        <br>
        <h3>Embark on a journey with the Zhy Museum</h3>
      </div>
      <div class="login-signup">
        <app-login></app-login>
      </div>
    </div>
    
  </div>

<div class="art-list">
  <app-artwork-list></app-artwork-list>
</div>
