<!-- <p>home works!</p> -->

<!-- <div class="page-container">
    <div class="content-container">
    </div>
    <div class="content-container" style="color: whitesmoke;">
      <div class="about-us">
        <h1 >WHAT'S ON</h1>
        <br>
        <h3>Embark on a journey with the Zhy Museum</h3>

        <button routerLink="/login">Login</button>
          
</div>

<div class="art-list">
    <app-artwork-list></app-artwork-list>
</div> -->

<div class="page-container">
    <div class="content-container">
        <!-- <h2>JOIN US</h2> -->
    </div>
    <!-- <div class="content-container" style="color: whitesmoke;"> -->
        <!-- <div  id="about-us" class="about-us"> -->

            <h1 style="margin-left: -10px;">WHAT'S ON</h1>
            <br><br><br><br><br><br><br><br><br>
            <h1 style="margin-left: -10px;">Embark on a journey with the Zhy Museum</h1>
            <br><br><br><br><br>

            <p style="color: rgb(240, 238, 238);">Dive into a world of artistic wonders! Our gallery features a mesmerizing blend of<br>
                charcoal and pencil masterpieces, igniting your passion for creativity. Explore the<br>
                 extraordinary, where every stroke tells a captivating story
            </p>
            <br><br><br><br><br>

        <!-- </div> -->
        <!-- <button routerLink="welcome">Login</button> -->
    <!-- </div> -->
</div>

<div class="id" class="explore">
    <div class="art-list">
        <h1> EXPLORE THE ARTWORKS</h1>
        <app-artwork-list></app-artwork-list>
    </div>
</div>
